.container {
  height: 100vh;
  width: 95vw;
  margin: 0;
  padding: 0;
  display: flex;
}

.card {
  position: relative;
  height: 90vh;
  border-radius: 30px;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin: 20px 0 0 10px;
  flex: 0.5;
  color: white;
  transition: flex 0.7s ease-in;
}

.card.active {
  flex: 5;
}

.card h3 {
  position: absolute;
  bottom: 15px;
  left: 20px;
  opacity: 0;
}

.card.active h3 {
  opacity: 1;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .card:nth-of-type(4),
  .card:nth-of-type(5) {
    display: none;
  }
}
